<h1>Twitter Scraper</h1>

<h3><%= link_to "New Account", new_account_path %></h3>
<ul>
  <% @accounts.each do |account| %>
    <li>
      <p>
      <%= link_to account.username %> | <%= link_to 'Delete', account_path(account),
                                            method: :delete,
                                            data: { confirm: 'Are you sure?' } %>
      </p>
    </li>
  <% end %>
</ul>
